<template>
	<!-- bugs container -->
	<section class="bugsContainer">
		<loading-modal v-bind:showLoadingModal="loadingModal"></loading-modal>
		<hero headerTitle="Bugs Bugs Bugs" headerSubtitle="There are a ton of them"></hero>

		<div class="bugsCount box has-text-centered">
			<p>There are currently {{getBugsLength}} bugs on file</p>
		</div>


	</section><!-- endbugs container -->
</template>

<script>
import loadingModal from '@/components/bulma/loadingModal.client.component.vue'
import hero from '../bulma/hero.client.component.vue'

export default {
	name: 'bugs',
	components: { 
        hero , loadingModal       
    },
    data () {
        return {
        	loadingModal:  true,

        }
    },  
	mounted: function(){
		var vm = this;
		this.$store.dispatch('getBugs').then(function(response){
			var myVar = setTimeout(function(){ 
				vm.loadingModal = false; 
				clearTimeout(myVar);
			}, 3000);

		}, function(error){
			var myVar = setTimeout(function(){ 
				vm.loadingModal = false; 
				clearTimeout(myVar);
			}, 3000);
		});
	},
	computed:{
		getBugsLength() {
			return this.$store.getters.getBugsLengh;
		} 
	}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.bugsCount{
	margin-top: 25px;
}
</style>



