<template>
	<!-- devices container -->
	<section class="devicesContainer">
		<loading-modal v-bind:showLoadingModal="loadingModal"></loading-modal>
		<hero headerTitle="Devices" headerSubtitle="List"></hero>

		<div class="box">
			<table class="devicesTable table is-bordered table is-striped" >
				<thead>
				    <tr>
				    	<th>Description</th>
				    	<th>Device Id</th>
				    </tr>				
				</thead>
				<tbody>
					<tr v-for="device in getDevices">
						<td>{{device.description}}</td>
						<td>{{device.deviceId}}</td>
					</tr>
				</tbody>
			</table><!-- end deviceTable -->
		</div><!-- end devices list box -->
	</section><!-- end devices container -->
</template>

<script>
import hero from '../bulma/hero.client.component.vue'
import loadingModal from '@/components/bulma/loadingModal.client.component.vue'

export default {
	name: 'bugs',
	components: { 
        hero, loadingModal       
    },
    data () {
        return {
        	loadingModal: true,
        }
    },  
	mounted: function(){
		var vm = this;
		this.$store.dispatch('getDevices').then(function(response){
			var myVar = setTimeout(function(){ 
				vm.loadingModal = false; 
				clearTimeout(myVar);
			}, 3000);
		}, function(err){
			var myVar = setTimeout(function(){ 
				vm.loadingModal = false; 
				clearTimeout(myVar);
			}, 3000);
		});// end getDevices

	},
	computed:{
		getDevices() { 
			return this.$store.getters.getDevicesArray;
		}
	}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.bugsCount{
	margin-top: 25px;
}
</style>
