<template>
	<!-- home container -->
	<section class="homeContainer">
		<hero headerTitle="Try and find a dev" headerSubtitle="Search by country and device"></hero>
		<search></search>
	</section><!-- end hom container -->

</template>


<script>

import hero from   '@/components/bulma/hero.client.component.vue'
import search from '@/components/search/search.client.component.vue'

export default {
	name: 'home',
	components: {hero,  search},
    data () {
        return {
        	
        }
    },  
	mounted: function(){
		console.log('Welcome to the test!');
	},
	computed:{
	}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
/*
     __---~~~~--__                      __--~~~~---__
    `\---~~~~~~~~\\                    //~~~~~~~~---/'  
      \/~~~~~~~~~\||                  ||/~~~~~~~~~\/ 
                  `\\                //'
                    `\\            //'
                      ||          ||      Hey Doc!
            ______--~~~~~~~~~~~~~~~~~~--______              
       ___ // _-~                        ~-_ \\ ___  
      `\__)\/~                              ~\/(__/'          
       _--`-___                            ___-'--_        
     /~     `\ ~~~~~~~~------------~~~~~~~~ /'     ~\        
    /|        `\         ________         /'        |\     
   | `\   ______`\_      \------/      _/'______   /' |          
   |   `\_~-_____\ ~-________________-~ /_____-~_/'   |  
   `.     ~-__________________________________-~     .'       
    `.      [_______/------|~~|------\_______]      .'
     `\--___((____)(________\/________)(____))___--/'           
      |>>>>>>||                            ||<<<<<<|
      `\<<<<</'                            `\>>>>>/' 
      Where we're going we dont need CSS
*/
</style>
