<template>
	<!-- tester container -->
	<section class="testerContainer">
		<loading-modal v-bind:showLoadingModal="loadingModal"></loading-modal>
		<hero headerTitle="Testers" headerSubtitle="List"></hero>

		<div class="box">
			<h2>Testers</h2>
			<table class="testersTable table is-bordered table is-striped" >
				<thead>
				    <tr>
				    	<th>Tester Id</th>
				    	<th>First Name</th>
				    	<th>Last Name</th>
				    	<th>Country</th>
				    	<th>last Login</th>
				    </tr>				
				</thead>
				<tbody>
					<tr v-for="tester in getTesters">
						<td>{{tester.testerId}}</td>
						<td>{{tester.firstName}}</td>
						<td>{{tester.lastName}}</td>
						<td>{{tester.country}}</td>
						<td>{{tester.lastLogin}}</td>
					</tr>
				</tbody>
			</table><!-- end testerTable -->
		</div><!-- end testers list box -->	
	</section><!-- end testers container -->
</template>

<script>
import hero from '../bulma/hero.client.component.vue'
import loadingModal from '@/components/bulma/loadingModal.client.component.vue'

export default {
	name: 'testers',
	components: { 
        hero, loadingModal       
    },
    data () {
        return {
        	loadingModal: true,
        }
    },  
	mounted: function(){
		var vm = this;
		this.$store.dispatch('getTesters').then(function(response){
			var myVar = setTimeout(function(){ 
				vm.loadingModal = false; 
				clearTimeout(myVar);
			}, 3000);
		}, function(err){
			var myVar = setTimeout(function(){ 
				vm.loadingModal = false; 
				clearTimeout(myVar);
			}, 3000);
		});// end getTesters

	},
	computed:{
		getTesters() { 
			return this.$store.getters.getTestersArray;
		}
	}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.bugsCount{
	margin-top: 25px;
}
</style>
