<template>
	<!-- drodown -->
	<div class="contrl">

		<div class="container select">
		    <!-- <label class="typo__label">Simple select / dropdown</label> -->
		    <multiselect 
		    v-model="selection" 
		    :options="list" 
		    :multiple="true" 
		    :close-on-select="false" 
		    :clear-on-select="false" 
		    :hide-selected="true" 
		    :preserve-search="true" 
		    placeholder="Pick some" 
		    label="data" track-by="data">
		        <template slot="tag" scope="props">
		            <span class="custom__tag">
		            <span>
		            {{ props.option.data }}
		            </span>
		            <span class="custom__remove" @click="props.remove(props.option)">❌</span></span>
		        </template>
		    </multiselect>
		</div>
	</div><!-- end dropdown -->
</template>

<script>
import Multiselect from 'vue-multiselect'
export default {
	name: 'dropdown',
	props: ['dropdownData'],
	components: {Multiselect},
	data () {
		return {
			list: [],
			value: '',
			selection: [],
		}
	},	
	mounted: function(){
	},
	watch: {
		selection: function(val){
			this.dropdownChange();
		},
		/*
		* dropdownData watchr
		* waits for data to load into the directive and sets he first option as default
		*/
   		dropdownData: function (val) {
   			this.list = val;
   			
      		this.selection.push(val[0]);
    	},
	},
	methods:{
		/*
		* dropDownChange
		* takes in a string
		* parent component bond method
		* Emits change to the parent for processing
		*/
		dropdownChange: function(e){
			this.$emit('dropChanged', this.selection);
		}
	},
	computed: {
		// computed method calls on store for its data
		dData: function(){
			return this.dropdownData;
		},
	}
}

</script>
