<template>
	<section class="hero is-dark  has-text-centered is-bold is-12">
	    <div class="hero-body">
	        <div class="container">
	            <h1 class="title">
	                {{headerTitle}}
	            </h1>
	            <h2 class="subtitle">
	                {{headerSubtitle}}
	            </h2>
	        </div>
	    </div>
	</section>
</template>


<script>
export default {
	name: 'heroComponent',
	props: ['headerTitle', 'headerSubtitle'],
}

</script>
