
<template>
 	<transition name="fade">
		<!-- loading modal -->
		<div class="modal is-active" v-if="showLoadingModal">
			<div class="modal-background"></div>
			<div class="modal-content">
			<!-- Any other Bulma elements you want -->
			<figure class="image">
			  <img src="http://i.imgur.com/3Wykn1q.gif">
			</figure>
			</div>
		</div><!-- end loading modal -->
	</transition>
</template>

<script>

export default {
	name: 'loadingModal',
	props: ['showLoadingModal'],
	data () {
		return {

		}
	},
}
</script>

<style>
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0
}
</style>