<template>
	<!-- search section -->
	<section>
		<!-- search criteria -->
		<div class="searchCriteria box" v-if="!showBottomDiv">
			<loading-modal v-bind:showLoadingModal="loadingModal"></loading-modal>
			<!-- countries -->
			<div class="field">
				<label class="label">Select a country</label>
				<dropdown 
				v-bind:dropdownData="getCountries"
				@dropChanged="countryChanged"></dropdown>
			</div>

			<!-- devices -->
			<div class="field">
				<label class="label">Select a Device</label>
				<dropdown
				v-bind:dropdownData="getDevicesDescriptionArrayAlphabetical"
				@dropChanged="deviceChanged"></dropdown>
			</div>

			<div class="block submitButton">
				<div
				class="button is-success" 
				@click="processQuery()">Search</div>
			</div>
		</div><!-- end search criteria -->



		<!-- results section -->
		<div class="resultsSection box content" v-if="showBottomDiv">
			<h2 class="subtitle">Searching</h2>

			<div @click="goHome()"class="button is-danger">Home</div>

			<!-- countries loop -->
			<h3 class="subtitle">Countries: 
				<template v-for="c in country.currentSelection">
					<div v-if="c.data === 'ALL'">
						<template v-for="d in getCountries">
							<span>{{d.data}}</span>, 
						</template>
					</div>
					<div v-else>
						<span>{{c.data}}</span>, 
					</div>
				</template>
			</h3>

			<!-- devices loop -->
			<h3 class="subtitle">Devices: 
				<template v-for="d in device.currentSelection">
					<span>{{d.data}}</span>, 
				</template>
			</h3>
			<!-- matches -->
			<div class="box">
				<div class="box">
				Matches: {{getDeviceUserRelationArrayCount}} 
					<table class="devicesTable table is-bordered table is-striped" >
						<thead>
						    <tr>
						    	<th>Id</th>
						    	<th>Name</th>
						    </tr>				
						</thead>
						<tbody>
							<tr v-for="t in getDeviceUserRelationArray">
								<td>{{t.testerId}}</td>
								<td>{{t.firstName}} {{t.lastName}}</td>
							</tr>
						</tbody>
					</table><!-- end deviceTable -->
				</div><!-- end devices list box -->
			</div><!-- end matches -->


			<!-- bugs section -->
			<div class="bugsSectino">
				<template v-for="iter in getBugCountByDeviceArrayAscending ">
					<div class="box">
						Tester: {{iter.testerId}}  <span>{{iter.testerName}}</span> filed {{iter.total}} bugs for {{iter.deviceName }}
					</div>
				</template>
				
			</div><!-- end bugs section -->
			
			<!-- matches -->
			<div class="box">
				<div class="box">
				Results:
					<table class="devicesTable table is-bordered table is-striped" >
						<thead>
						    <tr>
						    	<th>Id</th>
						    	<th>Name</th>
						    </tr>				
						</thead>
						<tbody>
							<tr v-for="t in getDeviceUserRelationArray">
								<td>{{t.testerId}}</td>
								<td>{{t.firstName}} {{t.lastName}}</td>
							</tr>
						</tbody>
					</table><!-- end deviceTable -->
				</div><!-- end devices list box -->
			</div><!-- end matches -->
			<div @click="goHome()"class="button is-danger">Home</div>
		</div><!-- end results section -->
	</section><!-- end search section -->


</template>

<script>
import loadingModal from '@/components/bulma/loadingModal.client.component.vue'
import dropdown from '@/components/bulma/dropdown.client.component.vue'
import _ from 'lodash'

var log = console.log;

export default {
	name: 'search',
	components: {dropdown, loadingModal,},
	data () {
		return {
			showBottomDiv: false,
			loadingModal:  true,
			country: {
				currentSelection: []
			},
			device: {
				currentSelection: []
			},
		}
	},
	mounted: function(){

		// load our bugs
		this.$store.dispatch('getBugs')

		this.init();
	}, 	

	methods: {
		goHome: function(){
			// refresh the page
			location.href="/";
		},
		init: function(){
			var vm = this;
			// load in our testers
			this.$store.dispatch('getTesters').then(function(response){
				// load in our device
				vm.$store.dispatch('getDevices').then(function(response){
					var self = vm;
					// load in our device
					self.$store.dispatch('getTesterDevices').then(function(resp){
						var vm = self;
						vm.$store.dispatch('getBugs').then(function(resp){
							
							var myVar = setTimeout(function(){ 
								vm.loadingModal = false; 
								clearTimeout(myVar);
							}, 3000);

						});// end gt bugss
					}, function(err){
					})// end getTesterDevices
				}, function(err){

				})// end getDevices
			}, function(err){
			});//  end getTesters

		},// end init
		/*
		* processQuery
		* 
		*/
		processQuery: function(){
			// set the spinner to loading 
			this.loadingModal = true; 
			var vm = this;

			this.$store.commit('zeroOut');

			this.$store.dispatch('calculateTestersByCountry').then(function(resp){
				var self = vm;
				vm.$store.dispatch('calculateQueryMatches').then(function(response){
					var mismo = self;
					// check if there is device tester relation
					self.$store.dispatch('calculateTesterDeviceRelation').then(function(re){
						mismo.$store.dispatch('calculateBugCountForDeviceByUser').then(function(bugCount){
							var myVar = setTimeout(function(){ 
								mismo.loadingModal = false; 
								mismo.showBottomDiv = true;
								clearTimeout(myVar);
							}, 3000);
						});
					})// end calcualate deivce relation
				});// end calcuate query matches
			});// end calcualte testers by country 
		},// end process query
		countryChanged: function(newCountry){;
			this.country.currentSelection = newCountry;
			this.$store.commit('setQueryCountries', newCountry);
		},
		deviceChanged: function(newDevice){
			this.device.currentSelection = newDevice;
			this.$store.commit('setQueryDevices', newDevice);
		}, 
	},
	computed: {
		// All of these call their store methods to get data
		getBugCountByDeviceArrayAscending: function(){
			return this.$store.getters.getBugCountByDeviceArrayAscending;
		},
		getDeviceUserRelationArrayCount: function(){
			return this.$store.getters.getDeviceUserRelationArrayCount;
		},

		getDeviceUserRelationArray: function(){
			return this.$store.getters.getDeviceUserRelationArray;
		},
		getDevicesDescriptionArrayAlphabetical: function(){
			// get devices
			return this.$store.getters.getDevicesDescriptionArrayAlphabetical;
		},

		getCountries: function(){
			// get countries 
			return this.$store.getters.getCountries;
		},
	}
}

</script>

<style>
.searchCriteria{
	margin-top: 25px;
}
.submitButton{
	margin-top: 75px;
}
</style>
