<template>
  <div id="app" >
    <custom-nav></custom-nav>
    <router-view></router-view>
  </div>
</template>

<script>
import customNav from '@/components/nav/customNav.client.component.vue'
export default {
	components: {customNav},
  	name: 'app',
    data () {
        return {
        }
    },

  	mounted: function(){
  	}
}
</script>

<style>

</style>


