<template>
    <nav class="nav">
        <div class="nav-left">      
            <div class="nav-item" @click="clickAction('home')">Applause Test</div>
        </div>
        <!-- This "nav-toggle" hamburger menu is only visible on mobile -->
        <!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->
        <span class="nav-toggle" v-bind:class="{'is-active': burgerToggle}" @click="navBurgerToggle">
        <span></span>
        <span></span>
        <span></span>
        </span>
        <!-- This "nav-menu" is hidden on mobile -->
        <!-- Add the modifier ais-active" to display it on mobile -->
        <div class="nav-right nav-menu" v-bind:class="{ 'is-active': burgerToggle}" >
            <div class="nav-item" @click="clickAction('bugs')">Bugs</div>
            <div class="nav-item" @click="clickAction('devices')">Devices</div>
            <div class="nav-item" @click="clickAction('testers')">Testers</div>
        </div>
    </nav>
</template>

<script>
    export default {
        data () {
            return {
                burgerToggle: false,// nav burger toggle bool
            }
        },  
        created: function(){
        },
        methods: {
            clickAction: function(action){
                switch (action) {
          			case 'bugs': 
          				this.$router.push('/bugs');
                        // toggle burger
                        this.navBurgerToggle();
          				break;

                    case 'testers': 
                        this.$router.push('/testers');
                        // toggle burger
                        this.navBurgerToggle();
                        break;

                    case 'devices': 
                        this.$router.push('/devices');
                        // toggle burger
                        this.navBurgerToggle();
                        break;

                    case 'home': 
                        this.$router.push('/');
                        // toggle burger to close only
                        if(this.burgerToggle = true){
                            this.burgerToggle = false;
                        }
                        break;
                }
            },// end clickACtion

            // Toggles the nav bugerto open and close the mobile nav 
            navBurgerToggle:function(){
                // toggle var
                if(this.burgerToggle){
                    this.burgerToggle = false;
                }else{
                    this.burgerToggle= true;
                }
                return;
            },// endnagBurgerTOggle
        },
        computed: {
    
        },
    } 
</script>

<style>

</style>